<GridLayout rows="100px, 150px, 160px,auto,auto,auto,auto,*" columns="*,50px">
    <StackLayout row="1" col="0" colSpan="2" class="p-x-20">
      <Image src="~/app/images/gambar3.png"></Image>
    </StackLayout>
    <Label text="" class="h1 p-l-20" row="2" col="0"  colSpan="2" style="color: black; text-align: center;"></Label>
    <Label text="Pokemon API" class="h5 Stat-nav p-l-20" row="3" col="0"  style="color: black; "  (tap)="onTap('poke')"></Label>
    <Label text="Digimon API" class="h5 Stat-nav p-l-20" row="4" col="0"  style="color:black; " (tap)="onTap('digi')"></Label>
  </GridLayout>
  